/*
!.gitignore
!favicon.ico

# fictional-university 
!fictional-university

fictional-university/*
!fictional-university/app

fictional-university/app/*
!fictional-university/app/public

fictional-university/app/public/*
!fictional-university/app/public/wp-content

fictional-university/app/public/wp-content/*
!fictional-university/app/public/wp-content/themes
!fictional-university/app/public/wp-content/mu-plugins

fictional-university/app/public/wp-content/themes/*
!fictional-university/app/public/wp-content/themes/fictional-university-theme
fictional-university/app/public/wp-content/themes/fictional-university-theme/bundled-assets
fictional-university/app/public/wp-content/themes/fictional-university-theme/node_modules
fictional-university/app/public/wp-content/themes/fictional-university-theme/template-parts


# udemy
wp-dev-tutorial/app/public/wp-content/plugins/*
!wp-dev-tutorial/app/public/wp-content/plugins/my-plugins


!wp-dev-tutorial

wp-dev-tutorial/*
!wp-dev-tutorial/app

wp-dev-tutorial/app/*
!wp-dev-tutorial/app/public

wp-dev-tutorial/app/public/*
!wp-dev-tutorial/app/public/wp-content

wp-dev-tutorial/app/public/wp-content/*
!wp-dev-tutorial/app/public/wp-content/themes
!wp-dev-tutorial/app/public/wp-content/plugins

wp-dev-tutorial/app/public/wp-content/themes/*
!wp-dev-tutorial/app/public/wp-content/themes/udemy
wp-dev-tutorial/app/public/wp-content/themes/udemy/assets

wp-dev-tutorial/app/public/wp-content/plugins/*
!wp-dev-tutorial/app/public/wp-content/plugins/*.php
!wp-dev-tutorial/app/public/wp-content/plugins/recipe